<mat-drawer-container class="example-container" autosize>
  <mat-drawer [opened]="true" #drawer class="sidenav" mode="side">
    <div class="logo-container"><img src="assets/img/logo1.png"> </div>
    <ul>
      <li routerLink="/dashboard">
        <mat-icon>dashboard</mat-icon>Dashboard
      </li>
      <li routerLink="/customer-list">
        <mat-icon>group</mat-icon>Customer List
      </li>
      <li routerLink="/contact-list">
        <mat-icon>contacts</mat-icon>Contact List
      </li>
      <li routerLink="/lead-management">
        <mat-icon>leaderboard</mat-icon>Lead Management
      </li>
      <li routerLink="/campaign-management">
        <mat-icon>campaign</mat-icon>Campaign Management
      </li>
    </ul>
    <p class="credits">Created my design at LogoMakr.com</p>
  </mat-drawer>
  <div class="example-sidenav-content">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <mat-icon fontIcon="menu" class="menu-icon" (click)="drawer.toggle()"></mat-icon>
        <span>Simple CRM</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="router-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>
